@model IEnumerable<BoletoBusMaMonolitica.Data.Models.ReservaGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.IdViaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPasajero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsientosReservados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdViaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPasajero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsientosReservados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdReserva  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdReserva  }) |
             
            </td>
        </tr>
}
    </tbody>
</table>
